*,
*::before,
*::after {
  box-sizing: border-box;
  /**sets margin & padding baseline*/
  margin: 0px;
  padding: 0px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
}

.logo {
  flex: 1;
  color: #f9faf8;
  font-size: 24px;
}

.header-links {
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-section {
  display: flex;
}

.hero-box {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
}

.hero-left {
  display: flex;
  flex-direction: column;
  max-width: 40vh;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.hero-title {
  display: flex;
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.hero-text {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-button {
  display: flex;
}

.hero-right {
  display: flex;
  max-width: 40vh;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.links-section {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.links-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
}

.link {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  align-items: center;
}

.link,
p {
  width: 15vh;
}






.footer-box {
  background-color: #1f2937;
  color: 
}