*,
*::before,
*::after {
  box-sizing: border-box;
  /**sets margin & padding baseline*/
  margin: 0px;
  padding: 0px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 1em 10vh 1em 10vh;
  align-items: center;
}

.logo {
  flex: 1;
  color: #f9faf8;
  align-items: center;
}

h1 {
  flex: 1;
  color: #f9faf8;
  font-size: 24px;
}

.header-links {
  display: flex;
  flex: 1;
  justify-content: end;
}

.links-list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.5em;
  align-items: center;
  justify-content: end;
  min-width: fit-content;
  max-width: fit-content;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-section {
  display: flex;
  flex: 1;
  padding: 8vh 10vh 10vh 10vh;
  background-color: #1f2937;
}

.hero-box {
  display: flex;
  flex: 1;
  flex-wrap: wrap;

  justify-content: center;
  padding: 0 0 0 0;
  gap: 1em;
  min-width: fit-content;
}

.hero-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5vh;
}

.hero-title {
  display: flex;
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.hero-text {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-button {
  display: flex;
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 5px;
  padding: 0.3em 1em 0.3em 1em;
  border-style: none;
  margin-top: 0.5vh;
}

.hero-right {
  display: flex;
  flex: 1;
  align-items: center;
}

.hero-image {
  display: flex;
  flex: 1;
  aspect-ratio: 16 / 9;
  min-height: fit-content;
  border-radius: 5px;
}

.links-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10vh;
}

.links-box {
  display: flex;
  flex: 1;
  justify-content: center;
}

h2 {
  text-align: center;
}

.features-list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-align: center;
}

.link {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  max-width: min-content;
}

.footer-box {
  background-color: #1f2937;
  color: ;
}
